<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430741395840-3213pe5estqvnuvqtm9nkqqurdsltgkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430741395840-3213pe5estqvnuvqtm9nkqqurdsltgkl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>430741395840-7l573kvdifhbivam62oa8k5rrj0cdmke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRQYhN5yZivZDy62eq-d8gjJrqr-87DqE</string>
	<key>GCM_SENDER_ID</key>
	<string>430741395840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.campus.connected</string>
	<key>PROJECT_ID</key>
	<string>campus-connected</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-connected.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430741395840:ios:c2c68f15fe3ffdfb</string>
	<key>DATABASE_URL</key>
	<string>https://campus-connected.firebaseio.com</string>
</dict>
</plist>